{% extends "layout.html" %}

{% block title %} Login {% endblock %}

{% block body %}

    <div class="form-cont text-center" id="login-cont">
        <div class="form-header">
            <h1 class="form-title">Login</h1>
            <p class="form-description">Log in to your SmartCook account!</p>
        </div>
        <form action="/login" method="post" class="form" id="login-form">
            <div class="form-group">
                <input type="text" name="username" id="username" placeholder="Username" required autofocus>
            </div>
            <div class="form-group">
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>
            <div class="form-group form-submit-cont">
                <input type="submit" value="Login" class="btn btn-def">
            </div>
            <a href="/reset_password">Forgot your password?</a>
        </form>
        <div class="form-footer">
            No account yet? <a href="/register">Register here</a>
        </div>
    </div>

{% endblock %}