{% extends "layout.html" %}

{% block title %} Password Reset {% endblock %}

{% block body %}

    <div class="form-cont text-center" id="new-password-cont">
        <div class="form-header">
            <h1 class="form-title">Password Change</h1>
            <p class="form-description">Change your SmartCook account password</p>
        </div>
        <form action="/new_password" method="post" class="form" id="new-password-form">
            <input type="hidden" name="token" id="token" value="{{ token }}" required>
            <div class="form-group">
                <input type="password" name="new_password" id="new_password" placeholder="New Password" required>
            </div>
            <div class="form-group">
                <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm New Password" required>
            </div>
            <div class="form-group form-submit-cont">
                <input type="submit" value="Change Password" class="btn btn-def">
            </div>
        </form>
        <div class="form-footer">
            <a href="/login">Cancel</a>
        </div>
    </div>

{% endblock %}