{% extends "layout.html" %}

{% block title %} Password Reset {% endblock %}

{% block body %}

    <div class="form-cont text-center" id="reset-password-cont">
        <div class="form-header">
            <h1 class="form-title">Password Reset</h1>
            <p class="form-description">Reset your SmartCook account password</p>
        </div>
        <form action="/reset_password" method="post" class="form" id="reset-password-form">
            <div class="form-group">
                <input type="email" name="email" id="email" placeholder="E-mail Address" required autofocus>
            </div>
            <div class="form-group form-submit-cont">
                <input type="submit" value="Send Reset Email" class="btn btn-def">
            </div>
            <p>If you don't have access to your email address<br/>
            <strong>Please contact customer support.</strong></p>
        </form>
        <div class="form-footer">
            <a href="/login">Cancel</a>
        </div>
    </div>

{% endblock %}