<div id="responsive-sidebar">
    <div class="sidebar-icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div class="sidebar open">
    {% set url = request.endpoint %}
    <ul>
        <li><a {% if url == "index" %} class="active" {% endif %} href="/">Dashboard</a></li>
        <li><a {% if url == "new_recipe" %} class="active" {% endif %} href="/new_recipe">Create New Recipe</a></li>
        <li><a {% if url == "import_recipe" %} class="active" {% endif %} href="/import_recipe">Import Recipe</a></li>
        <li><a {% if url == "recipe" or url == "show_all_recipes" %} class="active" {% endif %} href="/recipes">My Recipes</a></li>
    </ul>
</div>